/* App.css */
.title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* App.css */

.container {
    margin-bottom: 10px;
  }
  body {
    background: #8758ff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
  }
   .input-container {
    display: flex;
    position:relative;
    align-items: center;
    margin-bottom: 10px;
    background-color: lightblue;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}
.input-wrapper {
  position: relative;
  display: inline-block;
}

input {
  padding-right: 60px; /* Adjust the padding to make space for the button */
  width: 100%;
}

/* button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
} */
  
  .container input {
    outline: none;
  background: none;
  border: 1px solid green;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: black; /* Adjust the margin to overlap the button */
  }
  .container::placeholder{
      color: #ffffff4d;
  }
  
  .container button {
    padding: 10px;
    background-color: #1e90ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin-left: -1px; /* Adjust the margin to overlap the input */
  }
  
  .TodoItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: lightblue;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
  }
  
  .TodoItem span {
    flex: 1;
    margin-right: 10px;
  }
  
  .TodoItem button {
    padding: 5px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }